footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 200px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  padding: 15px 0;
  width: 100%;
  background: linear-gradient(to right, #0a3c9a, #1e63e9, #66a3ff);
}